{% load static %}
<script src="{% static "js/core/popper.min.js"%}"></script>
<script src="{% static "js/core/bootstrap.min.js"%}"></script>
<script src="{% static "js/plugins/perfect-scrollbar.min.js"%}"></script>
<script src="{% static "js/plugins/smooth-scrollbar.min.js"%}"></script>
<script src="{% static "js/plugins/chartjs.min.js"%}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
<script>
  document.addEventListener("DOMContentLoaded", function(){
  document.querySelectorAll('.sidebar .nav-link').forEach(function(element){
    
    element.addEventListener('click', function (e) {

      let nextEl = element.nextElementSibling;
      let parentEl  = element.parentElement;	

        if(nextEl) {
            e.preventDefault();	
            let mycollapse = new bootstrap.Collapse(nextEl);
            
            if(nextEl.classList.contains('show')){
              mycollapse.hide();
            } else {
                mycollapse.show();
                // find other submenus with class=show
                var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                // if it exists, then close all of them
                if(opened_submenu){
                  new bootstrap.Collapse(opened_submenu);
                }
            }
        }
    }); // addEventListener
  }) // forEach
}); 
</script>
  
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static "js/argon-dashboard.min.js"%}"></script>
  <script src="{% static "js/jquery-3.7.1.min.js"%}"></script>
  <script>
    $( document ).ready(function() {
      document.getElementById("qmain_topic").addEventListener("change", function(){
        document.getElementById("qsub_topic").innerHTML = "",
        $.ajax({
          type: "GET",
          url: "{% url 'question_get_sub_topic' %}",
          data:{
            "main_topic_id": $("#qmain_topic").val(),
          },
          dataType: 'json',
          success:function(response){
            var select = document.getElementById("qsub_topic");
            for(var i=0; i<response.sub_topics.length; i++)
            {
              var option = document.createElement("option");
              option.value = response.sub_topics[i]["0"]
              option.innerHTML = response.sub_topics[i]["1"]
              select.appendChild(option)
              console.log(option)
            }
          },
        });
      });
    });
  </script>
  <script>
    $( document ).ready(function() {
      document.getElementById("tmain_topic").addEventListener("change", function(){
        document.getElementById("tsub_topic").innerHTML = "",
        $.ajax({
          type: "GET",
          url: "{% url 'time_get_sub_topic' %}",
          data:{
            "main_topic_id": $("#tmain_topic").val(),
          },
          dataType: 'json',
          success:function(response){
            var select = document.getElementById("tsub_topic");
            for(var i=0; i<response.sub_topics.length; i++)
            {
              var option = document.createElement("option");
              option.value = response.sub_topics[i]["0"]
              option.innerHTML = response.sub_topics[i]["1"]
              select.appendChild(option)
              console.log(option)
            }
          },
        });
      });
    });
  </script>